@import "tailwindcss";
@source not "../../public";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Lora:wght@400;500;600&display=swap');

body {
    font-family: 'Lora', serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.animate-zoom {
    animation: zoom 20s ease-in-out infinite alternate;
}
